<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>welcome,<span id="name"></span></h2>
    <p>Account No: <span id="Account no"></span></p>
    <p>Balance: $<span id="Balance"></span></p>
    
    <a href="/transfer">transfer Funds</a>
    <a href="/transactions">traansactions History</a>
    <a href="/" onclick="logout()">Logout</a>

    <script>
        const user = json.parse(localStorage.getItem('user'));
        if(!user) window.location.href='/';

        document.getElementById("name").innertext = user.name;
        document.getElementById("account no").innertext = user.account_no;
        document.getElementById("balance").innertext = user.balance;

        function logout() {
            localStorage.clear();
        }
    </script>
</body>
</html>