<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
</head>
<body>
    <h2>Transaction History</h2>
    <ul id="txnList"></ul>
    <a href="/dashboard"> ← Back to dashboard</a>
    <script>
        const user = JSON.parse(localStorage.getItem('user'));
        if (!user) window.location.href = '/';
    function loadTransactions() {
        fetch('/api/transactions/' + user.id)
        .then (res => res.json())
        .then(data => {
            const list = document.getElementById("txnList");
            if (data.length === 0) {
                list.innerHTML = "<li> No transaction yet.</li>";
            } else {
                data.forEach(t =>{
                    const li = document.createElement("li");
                    li.innerHTML = `${t.date} - ${t.type.toUpperCase()} ₹${t.amount.toFixed(2)}
                    <button onclick ="deleteTransaction(${t.id})" style="margin-left: 10px;">Delete</button>`;
                    list.appendChild(li);
                });
            }
        })
        .catch(err => {
            console.error('Error fetching transactions:', err);
            document.getElementById("txnList").innerHTML = "<li>Error loading transactions.</li>";
        });
    }

    function deleteTransaction(id) {
        if (!confirm("sure you want to delte this transaction?")) return;
        fetch(`/api/transactions/${id}`,{
            method: 'DELETE'
        })
        .then(res => res.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Transaction deleted.');
                loadTransactions();
            } else {
                alert('Failed to delete: + data.message');
            }
        })
        .catch(err => {
            console.error('Error deleting transaction:', err);
            alert('Error deleteing transaction.');
        });
    }
    loadTransactions();
    </script>
</body>
</html>